{% extends 'landingpage/base.html' %}
{% load static %}
{% block title %}About Us{% endblock %}

{% block main %}
<section class="hero section" id="subscribe">
    <div class="container">
        <div class="hero-inner">
            <div class="hero-title-2 form-div text-center">
                <h1 class="hero-title mt-0 main-title">About Us</h1>
                <!-- <p class="hero-paragraph">A token-based marketplace of opinions</p> -->
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block body %}
<section class="features section feature-fill" id="about">
    <div class="container">
        <div class="features-inner section-inner">
            <div class="features-header text-center">
                <div class="container-sm">
                    <p class="section-paragraph powerful"><b>Our mission is to efficiently quantify opinion in a dynamic
                            way.</b> <br><br>A couple of months ago, Unibursal, this idea of a stock exchange-esque
                        marketplace
                        for <i>opinions</i> was just a crazy idea. Don't get us wrong, it's still just as crazy, but
                        since then the
                        two of us have been building, validating our idea with UVA students and other smart people, and
                        building some more. And
                        now, we
                        can honestly say that there is <b><i><a target="blank"
                                    href="https://www.dictionary.com/browse/literally#:~:text=without%20exaggeration%20or%20inaccuracy">literally</a></i></b>
                        nothing else out there like Unibursal. Here's a little bit about us:
                    </p>
                    <br><br>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <div class="headshot"
                                    style="background-image: url({% static 'landingpage/dist/images/headshot-som.png' %});">
                                </div>
                            </div>
                            <div class="col">
                                <h3 class="powerful">Som Mohapatra</h3>
                                <h4 class="powerful m-0">Co-Founder</h4>
                                <p class="powerful"><br>UVA 2023. Economics and Computer Science. I'm An RA at Dillard
                                    and an analyst at the McIntire Investment Institute and Global Markets Group UVA
                                    orgs. I'm leading the
                                    small team of computer scientists and financial economists that are creating Unibursal. You
                                    can find me directly at <a href="mailto:sm2pvm@virginia.edu">sm2pvm@virginia.edu</a>
                                    and (804)476-2867.</p>
                                    <br>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col">
                                <h3 class="powerful">Drew Goldman</h3>
                                <h4 class="powerful m-0">Co-Founder</h4>
                                <p class="powerful"><br>UVA 2022. Computer Science and Economics. I’m the Hack-a-thon coordinator 
                                    for HackCVille and a member of the Alfred Marshall Society, Academic Competition Team, Astronomy 
                                    Club, and AEPi. I’m guiding the team at Unibursal. You can contact me at 
                                    <a href="mailto:dag5wd@virginia.edu">dag5wd@virginia.edu</a> and (203) 533-2465.
                                </p>
                            </div>
                            <div class="col">
                                <div class="headshot"
                                    style="background-image: url({% static 'landingpage/dist/images/headshot-drew.jpg' %})">
                                    <img></img>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-64" id="mantra">
                            <p class="section-paragraph powerful">
                                <b>Our mantra boils down to five statements:</b>
                                <br>
                                (beware some technical language below)
                                <br><br>
                                <span class="lead" style="font-weight: bold">01 </span>the stock market works because
                                people buy the stocks they think will go up, and sell the ones they think will go down.
                                <br><br>
                                <span class="lead" style="font-weight: bold">02 </span>These perceptions are based on an
                                underlying: sometimes, it’s cash flow (stocks), sometimes it’s technological innovation
                                (cryptos), and sometimes it’s just other people’s opinion.
                                <br><br>
                                <span class="lead" style="font-weight: bold">03 </span>The stock and crypto markets can
                                be seen as a tool that ranks stocks and currencies on value by market cap.
                                <br><br>
                                <span class="lead" style="font-weight: bold">04 </span>Some opinions are more invested
                                than others - a single like or upvote/downvote system isn’t enough to accurately rank
                                people’s opinion.
                                <br><br>
                                <span class="lead" style="font-weight: bold">05 </span>People care about the opinions of
                                people that they relate to.
                            </p>
                            <p class="powerful mt-16">Putting that together, we created assets whose demand/supply
                                fundamentals come from people's opinions on them: those that rank high in public opinion
                                should see their token price increase relative to the others that rank lower in public
                                opinion. That way, we can get a quantitative measurement of the underlying opinion - not
                                many people in the financial sector understand or care yet about quantifying opinion,
                                and we're the first to implement it. We also get that there's always going to be
                                lukewarm opinions right beside ones that are ride-or-die, and we don't think they should
                                both be weighted equally. Turning the old voting/ranking mechanism into a market-based
                                one means that that isn't a problem anymore - you put as much skin in the game as you
                                want to. And finally, we understand that not everyone cares what everyone else thinks.
                                That's why we're exclusive to UVA - we don't really care what people from other schools
                                think about our classes, our culture, our social scene, and our community.
                                <span style="visibility: hidden;">Fuck Tech.</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}