<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">-->
  {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
  <link rel="icon" type="image/png" href="{% static 'landingpage/dist/images/icon.png' %}" />
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'landingpage/index.css' %}"/> -->
  <link rel="stylesheet" href="{% static 'landingpage/dist/css/style.css' %}"> <!-- for the landingpage -->
  <link href="https://fonts.googleapis.com/css?family=Heebo:400,500,700|Fira+Sans:600" rel="stylesheet">
</head>

<body class="is-boxed">
  <!-- navigation bar-->
  <nav class="navbar navbar-expand-md navbar-dark">
    <a href="/"><img class="navbar-brand" src="{% static 'landingpage/dist/images/icon.png' %}"
        alt="Unibursal"></img></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto mr-64">
        <li class="nav-item">
          <a class="nav-link" href="/about-us/">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
      </ul>
    </div>
  </nav>

  <div id="content">
    {% if messages %}
    {% for message in messages %}
    <div class="alert {{ message.tags }} m-2" id="msg" role="alert">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
  </div>

  <script>
    setTimeout(function () {
      if ($('#msg').length > 0) {
        $('#msg').remove();
      }
    }, 4000)
  </script>

  <div id="content">
    <div class="body-wrap boxed-container">
      <header class="site-header">
      </header>
      <main>
        {% block main %}{% endblock %}
        {% block body %}{% endblock %}
      </main>
      <footer class="site-footer">
				<div class="container">
					<div class="site-footer-inner has-top-divider">
						<div class="brand footer-brand">
						</div>

						<ul class="footer-links list-reset">
							<li>
								<a href="mailto:unibursal@email.virginia.edu">Contact Us</a>
							</li>
							<li>
								<a href="/about-us/">About us</a>
							</li>
						</ul>
						<ul class="footer-social-links list-reset">
						</ul>
						<div class="footer-copyright">&copy; Unibursal</div>
					</div>
				</div>
			</footer>
    </div>
  </div>
</body>

</html>