<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
	{% load crispy_forms_tags %}

	<title>Unibursal</title>
	<link rel="icon" type="image/png" href="{% static 'landingpage/dist/images/icon.png' %}" />

	<style>
		@font-face {
			font-display: block;
			font-family: Roboto;
			src: url(https://assets.sendinblue.com/font/Roboto/Latin/normal/normal/7529907e9eaf8ebb5220c5f9850e3811.woff2) format("woff2"), url(https://assets.sendinblue.com/font/Roboto/Latin/normal/normal/25c678feafdc175a70922a116c9be3e7.woff) format("woff")
		}

		@font-face {
			font-display: fallback;
			font-family: Roboto;
			font-weight: 600;
			src: url(https://assets.sendinblue.com/font/Roboto/Latin/medium/normal/6e9caeeafb1f3491be3e32744bc30440.woff2) format("woff2"), url(https://assets.sendinblue.com/font/Roboto/Latin/medium/normal/71501f0d8d5aa95960f6475d5487d4c2.woff) format("woff")
		}

		@font-face {
			font-display: fallback;
			font-family: Roboto;
			font-weight: 700;
			src: url(https://assets.sendinblue.com/font/Roboto/Latin/bold/normal/3ef7cf158f310cf752d5ad08cd0e7e60.woff2) format("woff2"), url(https://assets.sendinblue.com/font/Roboto/Latin/bold/normal/ece3a1d82f18b60bcce0211725c476aa.woff) format("woff")
		}

		#sib-container input:-ms-input-placeholder {
			text-align: left;
			font-family: "Helvetica", sans-serif;
			color: #c0ccda;
		}

		#EMAIL {
			color: #000000;
		}

		#sib-container input::placeholder {
			text-align: left;
			font-family: "Helvetica", sans-serif;
			color: #c0ccda;
		}

		#sib-container textarea::placeholder {
			text-align: left;
			font-family: "Helvetica", sans-serif;
			color: #c0ccda;
		}
	</style>
	<!--  END -->

	<link href="https://fonts.googleapis.com/css?family=Heebo:400,500,700|Fira+Sans:600" rel="stylesheet">
	<!-- <link rel="stylesheet" href="dist/css/style.css"> -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- <link rel="stylesheet" href="{% static 'landingpage/index.css' %}"> -->
	<!-- <link rel="import" href="{% static 'landingpage/faqstest.js' %}"> -->
	<link rel="stylesheet" href="https://sibforms.com/forms/end-form/build/sib-styles.css">

	<!-- <script type="text/javascript" src="{% static 'landingpage/src/faqslist.js' %}"></script> -->


	<script src="https://unpkg.com/animejs@2.2.0/anime.min.js"></script>
	<script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>


	<!-- CSS related to accordion faq style -->
	<!-- <link rel="stylesheet" href="uikit/components/accordion.scss">
	<link rel="stylesheet" href="uikit/mixins-theme.scss">
	<link rel="stylesheet" href="uikit/mixins.scss"> -->

	<link rel="stylesheet" href="{% static 'landingpage/dist/scss/accordion.scss' %}">
	<link rel="stylesheet" href="{% static 'landingpage/dist/scss/mixins-theme.scss' %}">
	<link rel="stylesheet" href="{% static 'landingpage/dist/scss/mixins.scss' %}">
	<link rel="stylesheet" href="{% static 'landingpage/dist/scss/main.scss' %}">

	<link rel="stylesheet" href="{% static 'landingpage/dist/css/main.css' %}">
	<link rel="stylesheet" href="{% static 'landingpage/dist/css/style.css' %}"> <!-- for the landingpage -->

	<script src="{% static 'landingpage/dist/js/main.js' %}"></script>
	<script src="{% static 'landingpage/dist/js/privacy-analysis.js' %}"></script>
</head>

<body class="is-boxed has-animations">

	<!-- navigation bar-->
	<nav class="navbar navbar-expand-md navbar-dark">
		<a href="/"><img class="navbar-brand" src="{% static 'landingpage/dist/images/icon.png' %}"
				alt="Unibursal"></img></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav ml-auto mr-64">
				<li class="nav-item">
					<a class="nav-link" href="#subscribe">Subscribe</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#about">How It Works</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#faq">FAQ</a>
				</li>
			</ul>
		</div>
	</nav>

	<!-- <nav class="navbar">
		<a class="navbar-brand" href="#">
		  <img src="{% static 'landingpage/dist/images/icon.png' %}" width="30" height="30" alt="">
		</a>
	  </nav> -->

	<div id="content">
		{% if messages %}
		{% for message in messages %}
		<div class="alert {{ message.tags }} m-2" id="msg" role="alert">
			{{ message }}
		</div>
		{% endfor %}
		{% endif %}

		<div class="body-wrap boxed-container">
			<header class="site-header">
				<div class="header-shape header-shape-1">
					<svg width="337" height="222" viewBox="0 0 337 222" xmlns="http://www.w3.org/2000/svg">
						<defs>
							<linearGradient x1="50%" y1="55.434%" x2="50%" y2="0%" id="header-shape-1">
								<stop stop-color="var(--color-1-light)" stop-opacity="0" offset="0%" />
								<stop stop-color="var(--color-1-light)" offset="100%" />
							</linearGradient>
						</defs>
						<path d="M1103.21 0H1440v400h-400c145.927-118.557 166.997-251.89 63.21-400z"
							transform="translate(-1103)" fill="url(#header-shape-1)" fill-rule="evenodd" />
					</svg>
				</div>
				<div class="header-shape header-shape-2">
					<svg width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"
						style="overflow:visible">
						<defs>
							<linearGradient x1="93.05%" y1="19.767%" x2="15.034%" y2="85.765%" id="header-shape-2">
								<stop stop-color="var(--color-4)" offset="0%" />
								<stop stop-color="var(--color-4-light)" offset="100%" />
							</linearGradient>
						</defs>
						<circle class="anime-element fadeup-animation" cx="64" cy="64" r="64"
							fill="url(#header-shape-2)" fill-rule="evenodd" />
					</svg>
				</div>
				<div class="container">
					<div class="site-header-inner">
						<div class="brand header-brand">
							<h1 class="m-0">
								<a href="#">
									<svg width="32" height="32" xmlns="http://www.w3.org/2000/svg">
										<title>Unibursal</title>
										<defs>
											<linearGradient x1="114.674%" y1="39.507%" x2="-52.998%" y2="39.507%"
												id="logo-a">
												<stop stop-color="var(--color-4)" offset="0%" />
												<stop stop-color="var(--color-4)" stop-opacity="0" offset="100%" />
											</linearGradient>
											<linearGradient x1="93.05%" y1="19.767%" x2="15.034%" y2="85.765%"
												id="logo-b">
												<stop stop-color="var(--color-4)" offset="0%" />
												<stop stop-color="var(--color-4-light)" offset="100%" />
											</linearGradient>
											<linearGradient x1="32.716%" y1="-20.176%" x2="32.716%" y2="148.747%"
												id="logo-c">
												<stop stop-color="var(--color-1)" offset="0%" />
												<stop stop-color="var(--color-1)" stop-opacity="0" offset="100%" />
											</linearGradient>
										</defs>
										<!-- <g fill="none" fill-rule="evenodd">
											<path
												d="M31.12 7.482C28.327 19.146 19.147 28.326 7.483 31.121A12.04 12.04 0 0 1 .88 24.518C3.674 12.854 12.854 3.674 24.518.879a12.04 12.04 0 0 1 6.603 6.603z"
												fill="var(--color-1)" />
											<path
												d="M28.874 3.922l-24.91 24.99a12.026 12.026 0 0 1-3.085-4.394C3.674 12.854 12.854 3.674 24.518.879a12.025 12.025 0 0 1 4.356 3.043z"
												fill="url(#logo-a)" />
											<g opacity=".88">
												<path
													d="M31.12 24.518a12.04 12.04 0 0 1-6.602 6.603C12.854 28.326 3.674 19.146.879 7.482A12.04 12.04 0 0 1 7.482.88c11.664 2.795 20.844 11.975 23.639 23.639z"
													fill="url(#logo-b)" />
												<path
													d="M24.518 31.12C12.854 28.327 3.674 19.147.879 7.483A12.015 12.015 0 0 1 3.46 3.57L28.47 28.5a12.016 12.016 0 0 1-3.951 2.62z"
													fill="url(#logo-c)" />
											</g>
										</g> -->
									</svg>
								</a>
							</h1>
						</div>
					</div>
				</div>
			</header>

			<main>
				<section class="hero section" id="subscribe">
					<div class="container">
						<div class="hero-inner">
							<div class="hero-copy text-center form-div">
								<h1 class="hero-title mt-0 main-title"><span
										style="color: #e7e7e7; font-family: 'Overpass SemiBold';">Welcome to</span>
									<span style="color: #fffbfa; font-family: 'Overpass Bold';">Uni</span><span
										style="color: #e7e7e7; font-family: 'Overpass SemiBold';">bursal</span></h1>
								<p class="hero-paragraph">A token-based marketplace of opinions</p>

								<!-- added -->
								<div class="container-fluid text-center form-div">
									{% block form %} {% endblock form %}
								</div>

								<!-- Email form -->
								<div class="sib-form" style="text-align: left; background-color: transparent;">
									<div id="sib-form-container" class="sib-form-container">
										<div id="error-message" class="sib-form-message-panel"
											style="font-size:16px; text-align:left; font-family:Helvetica, sans-serif; color:#661d1d; background-color:#ffeded; border-radius:3px; border-color:#ff4949;max-width:540px;">
											<div
												class="sib-form-message-panel__text sib-form-message-panel__text--center">
												<svg viewBox="0 0 512 512" class="sib-icon sib-notification__icon">
													<path
														d="M256 40c118.621 0 216 96.075 216 216 0 119.291-96.61 216-216 216-119.244 0-216-96.562-216-216 0-119.203 96.602-216 216-216m0-32C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm-11.49 120h22.979c6.823 0 12.274 5.682 11.99 12.5l-7 168c-.268 6.428-5.556 11.5-11.99 11.5h-8.979c-6.433 0-11.722-5.073-11.99-11.5l-7-168c-.283-6.818 5.167-12.5 11.99-12.5zM256 340c-15.464 0-28 12.536-28 28s12.536 28 28 28 28-12.536 28-28-12.536-28-28-28z" />
												</svg>
												<span class="sib-form-message-panel__inner-text">
													Your subscription could not be saved. Please try again.
												</span>
											</div>
										</div>
										<div></div>
										<div id="success-message" class="sib-form-message-panel"
											style="font-size:16px; text-align:left; font-family:Helvetica, sans-serif; color:#085229; background-color:#e7faf0; border-radius:3px; border-color:#13ce66;max-width:540px;">
											<div
												class="sib-form-message-panel__text sib-form-message-panel__text--center">
												<svg viewBox="0 0 512 512" class="sib-icon sib-notification__icon">
													<path
														d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 464c-118.664 0-216-96.055-216-216 0-118.663 96.055-216 216-216 118.664 0 216 96.055 216 216 0 118.663-96.055 216-216 216zm141.63-274.961L217.15 376.071c-4.705 4.667-12.303 4.637-16.97-.068l-85.878-86.572c-4.667-4.705-4.637-12.303.068-16.97l8.52-8.451c4.705-4.667 12.303-4.637 16.97.068l68.976 69.533 163.441-162.13c4.705-4.667 12.303-4.637 16.97.068l8.451 8.52c4.668 4.705 4.637 12.303-.068 16.97z" />
												</svg>
												<span class="sib-form-message-panel__inner-text">
													Thanks for subscribing!
												</span>
											</div>
										</div>
										<div></div>
										<div id="sib-container" class="sib-container--large sib-container--horizontal"
											style="text-align:left; background-color: transparent; max-width:540px; border-radius:3px; border-width:1px; border-color:transparent; border-style:solid;">

											<form id="sib-form" method="POST"
												action="https://0ef92e60.sibforms.com/serve/MUIEAPHWiHRGT3Z2oxCcqW1b2Ybr2B3Z0ItqPQJuC0k85NP70M3TzbRwxdlQ29EF4WIJyVUZWIfWltlOTGa-rEv4TArUmhCV1RhLjJhdHBmY2DlHUWZght-ylWSlzisOxiEDb1J_h1p7O8m3uhD6_evot12zxixv5vCiOYUpyFHH-cGPF-Q9Mwt7HtgecOP20wOy917VAgPEtW48"
												data-type="subscription">
												<div class="text-center" style="padding: 8px 0;">
													<h6>Join our early-access mailing list! Be the first to use
														Unibursal.</h6>
													<div class="sib-input sib-form-block">
														<div class="form__entry entry_block">
															<div class="form__label-row form__label-row--horizontal">

																<div class="entry__field">
																	<input class="input cursor_text" type="text"
																		id="EMAIL" name="EMAIL" autocomplete="off"
																		placeholder="email@example.com"
																		data-required="true" required />
																</div>
															</div>

															<label class="entry__error entry__error--primary"
																style="font-size:16px; text-align:left; font-family:Helvetica, sans-serif; color:#661d1d; background-color:#ffeded; border-radius:3px; border-color:#ff4949;">
															</label>
															<label class="entry__specification"
																style="font-size:12px; text-align:left; font-family:Helvetica, sans-serif; color:#3E4857;">
															</label>
														</div>
													</div>
												</div>
												<div style="padding: 8px 0;">
													<div class="sib-form-block" style="text-align: center">
														<button
															class="button button-primary button-block submit-button sib-form-block__button sib-form-block__button-with-loader"
															form="sib-form" type="submit">
															<svg class="icon clickable__icon progress-indicator__icon sib-hide-loader-icon"
																viewBox="0 0 512 512">
																<path
																	d="M460.116 373.846l-20.823-12.022c-5.541-3.199-7.54-10.159-4.663-15.874 30.137-59.886 28.343-131.652-5.386-189.946-33.641-58.394-94.896-95.833-161.827-99.676C261.028 55.961 256 50.751 256 44.352V20.309c0-6.904 5.808-12.337 12.703-11.982 83.556 4.306 160.163 50.864 202.11 123.677 42.063 72.696 44.079 162.316 6.031 236.832-3.14 6.148-10.75 8.461-16.728 5.01z" />
															</svg>
															SUBSCRIBE
														</button>
													</div>
												</div>

												<input type="text" name="email_address_check" value=""
													class="input--hidden">
												<input type="hidden" name="locale" value="en">
											</form>
										</div>
									</div>
								</div>
								<!-- Form END -->

							</div>
							<div class="hero-illustration">
								<div class="hero-shape hero-shape-1">
									<svg width="40" height="40" xmlns="http://www.w3.org/2000/svg"
										style="overflow:visible">
										<circle class="anime-element fadeup-animation" cx="20" cy="20" r="20"
											fill="var(--color-3-dark)" fill-rule="evenodd" />
									</svg>
								</div>
								<div class="hero-shape hero-shape-2">
									<svg width="88" height="88" xmlns="http://www.w3.org/2000/svg"
										style="overflow:visible">
										<circle class="anime-element fadeup-animation" cx="44" cy="44" r="44"
											fill="var(--color-2-light)" fill-rule="evenodd" />
									</svg>
								</div>
								<div class="hero-main-shape">
									<svg width="940" height="647" viewBox="0 0 940 647"
										xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
										style="overflow:visible">
										<defs>
											<linearGradient x1="100%" y1="0%" x2="0%" y2="100%"
												id="hero-illustration-a">
												<stop stop-color="var(--color-2-dark)" offset="0%" />
												<stop stop-color="var(--color-2-light)" offset="100%" />
											</linearGradient>
											<linearGradient x1="89.764%" y1="16.809%" x2="11.987%" y2="82.178%"
												id="hero-illustration-b">
												<stop stop-color="var(--color-4)" offset="0%" />
												<stop stop-color="var(--color-4-dark)" offset="100%" />
											</linearGradient>
											<linearGradient x1="100%" y1="23.096%" x2="4.439%" y2="96.586%"
												id="hero-illustration-c">
												<stop stop-color="var(--color-2)" offset="0%" />
												<stop stop-color="var(--color-2-light)" offset="100%" />
											</linearGradient>
											<filter x="-13%" y="-150%" width="126.1%" height="400%"
												filterUnits="objectBoundingBox" id="hero-illustration-d">
												<feGaussianBlur stdDeviation="32" in="SourceGraphic" />
											</filter>
											<linearGradient x1="0%" y1="100%" x2="46.694%" y2="42.915%"
												id="hero-illustration-f">
												<stop stop-color="var(--color-5)" offset="0%" />
												<stop stop-color="var(--color-3)" offset="100%" />
											</linearGradient>
											<rect id="hero-illustration-e" width="800" height="450" rx="4" />
											<linearGradient x1="100%" y1="-12.816%" x2="0%" y2="-12.816%"
												id="hero-illustration-g">
												<stop stop-color="var(--color-5-dark)" stop-opacity="0" offset="0%" />
												<stop stop-color="var(--color-5-dark)" offset="50.045%" />
												<stop stop-color="var(--color-5-dark)" stop-opacity="0" offset="100%" />
											</linearGradient>
											<linearGradient x1="116.514%" y1="-21.201%" x2="0%" y2="100%"
												id="hero-illustration-h">
												<stop stop-color="var(--color-2-light)" offset="0%" />
												<stop stop-color="var(--color-2-dark)" offset="100%" />
											</linearGradient>
											<path id="hero-illustration-j" d="M0 0h308v288H0z" />
											<filter x="-15.6%" y="-12.5%" width="139%" height="141.7%"
												filterUnits="objectBoundingBox" id="hero-illustration-i">
												<feOffset dx="12" dy="24" in="SourceAlpha"
													result="shadowOffsetOuter1" />
												<feGaussianBlur stdDeviation="16" in="shadowOffsetOuter1"
													result="shadowBlurOuter1" />
												<feColorMatrix
													values="0 0 0 0 0.0666666667 0 0 0 0 0.062745098 0 0 0 0 0.243137255 0 0 0 0.08 0"
													in="shadowBlurOuter1" />
											</filter>
											<circle id="hero-illustration-k" cx="16" cy="16" r="16" />
											<linearGradient x1="50%" y1="0%" x2="50%" y2="100%"
												id="hero-illustration-m">
												<stop stop-color="var(--color-2-medium)" offset="0%" />
												<stop stop-color="var(--color-2-medium)" stop-opacity="0"
													offset="100%" />
											</linearGradient>
											<linearGradient x1="2.875%" y1="89.028%" x2="99.412%" y2="6.885%"
												id="hero-illustration-n">
												<stop stop-color="var(--color-2-dark)" offset="0%" />
												<stop stop-color="var(--color-2)" offset="50.924%" />
												<stop stop-color="var(--color-2-light)" offset="100%" />
											</linearGradient>
											<linearGradient x1="50%" y1="1.569%" x2="50%" y2="97.315%"
												id="hero-illustration-o">
												<stop stop-color="var(--color-4)" offset="0%" />
												<stop stop-color="var(--color-4-light)" offset="100%" />
											</linearGradient>
											<linearGradient x1="50%" y1="0%" x2="50%" y2="100%"
												id="hero-illustration-p">
												<stop stop-color="var(--color-4-light)" offset="0%" />
												<stop stop-color="var(--color-4)" offset="100%" />
											</linearGradient>
											<circle id="hero-illustration-r" cx="28" cy="28" r="28" />
											<filter x="-85.7%" y="-64.3%" width="314.3%" height="314.3%"
												filterUnits="objectBoundingBox" id="hero-illustration-q">
												<feOffset dx="12" dy="24" in="SourceAlpha"
													result="shadowOffsetOuter1" />
												<feGaussianBlur stdDeviation="16" in="shadowOffsetOuter1"
													result="shadowBlurOuter1" />
												<feColorMatrix
													values="0 0 0 0 0.0666666667 0 0 0 0 0.062745098 0 0 0 0 0.243137255 0 0 0 0.08 0"
													in="shadowBlurOuter1" />
											</filter>
											<circle id="hero-illustration-t" cx="36" cy="36" r="36" />
											<filter x="-66.7%" y="-50%" width="266.7%" height="266.7%"
												filterUnits="objectBoundingBox" id="hero-illustration-s">
												<feOffset dx="12" dy="24" in="SourceAlpha"
													result="shadowOffsetOuter1" />
												<feGaussianBlur stdDeviation="16" in="shadowOffsetOuter1"
													result="shadowBlurOuter1" />
												<feColorMatrix
													values="0 0 0 0 0.0666666667 0 0 0 0 0.062745098 0 0 0 0 0.243137255 0 0 0 0.08 0"
													in="shadowBlurOuter1" />
											</filter>
											<circle id="hero-illustration-v" cx="28" cy="28" r="28" />
											<filter x="-85.7%" y="-64.3%" width="314.3%" height="314.3%"
												filterUnits="objectBoundingBox" id="hero-illustration-u">
												<feOffset dx="12" dy="24" in="SourceAlpha"
													result="shadowOffsetOuter1" />
												<feGaussianBlur stdDeviation="16" in="shadowOffsetOuter1"
													result="shadowBlurOuter1" />
												<feColorMatrix
													values="0 0 0 0 0.0666666667 0 0 0 0 0.062745098 0 0 0 0 0.243137255 0 0 0 0.08 0"
													in="shadowBlurOuter1" />
											</filter>
											<circle id="hero-illustration-x" cx="24" cy="24" r="24" />
											<filter x="-100%" y="-75%" width="350%" height="350%"
												filterUnits="objectBoundingBox" id="hero-illustration-w">
												<feOffset dx="12" dy="24" in="SourceAlpha"
													result="shadowOffsetOuter1" />
												<feGaussianBlur stdDeviation="16" in="shadowOffsetOuter1"
													result="shadowBlurOuter1" />
												<feColorMatrix
													values="0 0 0 0 0.0666666667 0 0 0 0 0.062745098 0 0 0 0 0.243137255 0 0 0 0.08 0"
													in="shadowBlurOuter1" />
											</filter>
										</defs>
										<g fill="none" fill-rule="evenodd">
											<path class="anime-element stroke-animation"
												d="M600,300 C600,465.685425 465.685425,600 300,600 C134.314575,600 1.3749042e-14,465.685425 3.60373576e-15,300 C-6.54157051e-15,134.314575 134.314575,-1.29473326e-14 300,-2.30926389e-14 C465.685425,-3.32379452e-14 600,134.314575 600,300 Z"
												fill="url(#hero-illustration-a)" stroke="var(--color-2-light)" />
											<g transform="translate(435 518)">
												<circle class="anime-element fadeup-animation"
													fill="url(#hero-illustration-b)" cx="106" cy="32" r="32" />
												<circle class="anime-element fadeup-animation"
													fill="url(#hero-illustration-c)" cx="12" cy="117" r="12" />
											</g>
											<g class="anime-element fadeleft-animation">
												<g transform="translate(103 75)">
													<path fill-opacity=".24" fill="var(--color-1-dark)"
														filter="url(#hero-illustration-d)" d="M32 410h736v64H32z" />
													<use fill="url(#hero-illustration-f)"
														xlink:href="#hero-illustration-e" />
												</g>
												<g transform="translate(123 87)">
													<circle fill="var(--color-5-dark)" cx="4" cy="4" r="4" />
													<circle fill="var(--color-5-dark)" cx="20" cy="4" r="4" />
													<circle fill="var(--color-5-dark)" cx="36" cy="4" r="4" />
													<path fill-opacity=".56" fill="var(--color-3)"
														d="M736 2h24v4h-24z" />
													<path fill="url(#hero-illustration-g)" d="M27 20h706v2H27z" />
												</g>
												<g transform="translate(396 157)">
													<path fill="var(--color-3)" d="M0 0h308v144H0z" />
													<path fill="var(--color-5)"
														d="M28 119h252v1H28zM28 94h252v1H28zM28 69h252v1H28zM28 44h252v1H28z" />
													<path stroke="url(#hero-illustration-h)" stroke-width="3"
														d="M26 119l49.19-38.316 14.615 19.035 16.36-19.035 31.306 4.272 33.079-23.54 34.86 38.303 15.625-50.412 16.356 12.109 16.472-12.11 15.075 21.443 16.976-21.442" />
													<rect fill="var(--color-5-dark)" x="28" y="20" width="24" height="4"
														rx="2" />
												</g>
												<g>
													<path fill="var(--color-3)" d="M396 333h308v144H396z" />
													<path fill="var(--color-5)"
														d="M424 452h252v1H424zM424 427h252v1H424zM424 402h252v1H424zM424 377h252v1H424z" />
													<path fill="url(#hero-illustration-o)" d="M28 24h12v96H28z"
														transform="translate(396 333)" />
													<path fill="url(#hero-illustration-p)" d="M52 67h12v53H52z"
														transform="translate(396 333)" />
													<path fill="url(#hero-illustration-o)" d="M76 24h12v96H76z"
														transform="translate(396 333)" />
													<path fill="url(#hero-illustration-p)" d="M100 82h12v38h-12z"
														transform="translate(396 333)" />
													<path fill="url(#hero-illustration-o)" d="M124 45h12v75h-12z"
														transform="translate(396 333)" />
													<path fill="url(#hero-illustration-p)" d="M148 67h12v53h-12z"
														transform="translate(396 333)" />
													<path fill="url(#hero-illustration-o)" d="M172 82h12v38h-12z"
														transform="translate(396 333)" />
													<path fill="url(#hero-illustration-p)" d="M196 45h12v75h-12z"
														transform="translate(396 333)" />
													<path fill="url(#hero-illustration-o)" d="M220 67h12v53h-12z"
														transform="translate(396 333)" />
													<path fill="url(#hero-illustration-p)" d="M244 82h12v38h-12z"
														transform="translate(396 333)" />
													<path fill="url(#hero-illustration-o)" d="M268 45h12v75h-12z"
														transform="translate(396 333)" />
												</g>
											</g>
											<g class="anime-element fadeleft-animation">
												<g transform="translate(56 157)">
													<use fill="var(--color-black)" filter="url(#hero-illustration-i)"
														xlink:href="#hero-illustration-j" />
													<use fill="var(--color-3)" xlink:href="#hero-illustration-j" />
													<path fill="var(--color-1)" d="M0 191h308v1H0zM28 44h252v1H28z" />
													<rect fill="var(--color-5-dark)" x="28" y="20" width="24" height="4"
														rx="2" />
													<rect fill="var(--color-1-light)" x="28" y="216" width="64"
														height="4" rx="2" />
													<rect fill="var(--color-5-dark)" x="256" y="216" width="24"
														height="4" rx="2" />
													<rect fill="var(--color-5-dark)" x="64" y="20" width="24" height="4"
														rx="2" />
													<g transform="translate(28 232)">
														<mask id="hero-illustration-l" fill="var(--color-3)">
															<use xlink:href="#hero-illustration-k" />
														</mask>
														<use fill="var(--color-1-light)"
															xlink:href="#hero-illustration-k" />
													</g>
													<path
														d="M308 89.82v101.063H0v-33.728l3.038-3.799 10.783-7.894 8.687-2.646h9.246l21.198 10.54 9.852 3.251 6.608-3.25 8.644-12.005 6.87-6.388 7.892-1.512 10.906 6.066 13.895 15.802 11.188 5.944h5.692l7.314-3.28 7.19-9.37 5.879-13.65 10.774-21.657 8.34-14.026 9.243-12.336 9.594-7.043 15.407-3.881 6.362 1.497 14.939 7.765 10.531 8.166 13.17 12.338 12.362 7.52 12.756 3.746 8.366-1.542 8.96-5.366 10.183-15.377L308 89.82z"
														fill="url(#hero-illustration-m)" />
													<path
														d="M308 84.066v8.885c-13.215 32.373-36.292 33.308-68.007 2.699-18.456-17.814-33.74-21.583-47.058-13.978-10.675 6.097-19.593 18.713-29.342 38.963-2.594 5.388-10.386 22.73-11.136 24.336-11.298 24.181-27.067 24.181-45.624.363-12.17-13.657-21.486-13.657-29.221-.248-3.596 6.232-6.872 9.923-10.352 11.627-3.677 1.8-7.4 1.412-12.305-.82-2.416-1.098-12.51-6.8-14.82-7.981a101.498 101.498 0 0 0-4.586-2.208c-11.912-5.359-23.695-.926-35.549 13.65v-4.62c11.94-13.38 24.255-17.4 36.78-11.766 1.571.707 3.13 1.46 4.72 2.273 2.416 1.235 12.425 6.889 14.697 7.922 4.167 1.895 7.013 2.192 9.744.855 2.836-1.388 5.748-4.67 9.072-10.432 8.843-15.326 20.622-15.326 34.123-.172 17.344 22.257 30.338 22.257 40.603.287.734-1.572 8.536-18.936 11.151-24.368 9.998-20.768 19.193-33.776 30.557-40.266 14.618-8.348 31.298-4.234 50.63 14.424 32.601 31.465 54.068 28.367 65.923-9.425z"
														fill="url(#hero-illustration-n)" fill-rule="nonzero" />
												</g>
											</g>
											<g>
												<g class="anime-element fadeleft-animation">
													<g transform="translate(164 483)">
														<use fill="var(--color-black)"
															filter="url(#hero-illustration-q)"
															xlink:href="#hero-illustration-r" />
														<use fill="var(--color-3)" xlink:href="#hero-illustration-r" />
													</g>
													<!-- <path
														d="M200 506c-.6.3-1.2.4-1.9.5.7-.4 1.2-1 1.4-1.8-.6.4-1.3.6-2.1.8-.6-.6-1.5-1-2.4-1-1.7 0-3.2 1.5-3.2 3.3 0 .3 0 .5.1.7-2.7-.1-5.2-1.4-6.8-3.4-.3.5-.4 1-.4 1.7 0 1.1.6 2.1 1.5 2.7-.5 0-1-.2-1.5-.4 0 1.6 1.1 2.9 2.6 3.2-.3.1-.6.1-.9.1-.2 0-.4 0-.6-.1.4 1.3 1.6 2.3 3.1 2.3-1.1.9-2.5 1.4-4.1 1.4h-.8c1.5.9 3.2 1.5 5 1.5 6 0 9.3-5 9.3-9.3v-.4c.7-.5 1.3-1.1 1.7-1.8z"
														fill="#1DA1F2" fill-rule="nonzero" /> -->
												</g>
												<g class="anime-element fadeleft-animation">
													<g transform="translate(251 390)">
														<use fill="var(--color-black)"
															filter="url(#hero-illustration-s)"
															xlink:href="#hero-illustration-t" />
														<use fill="var(--color-3)" xlink:href="#hero-illustration-t" />
													</g>
													<!-- <g fill-rule="nonzero">
														<path
															d="M290.56 415.485a2.137 2.137 0 1 0-4.066 1.32l5.526 17.004a2.137 2.137 0 0 0 2.6 1.325c1.135-.327 1.826-1.532 1.464-2.646l-5.525-17.003"
															fill="#DFA22F" />
														<path
															d="M281.996 418.267a2.137 2.137 0 0 0-4.065 1.321l5.526 17.003a2.137 2.137 0 0 0 2.6 1.325c1.134-.326 1.826-1.531 1.464-2.645l-5.525-17.004"
															fill="#3CB187" />
														<path
															d="M297.515 429.567a2.137 2.137 0 1 0-1.32-4.065l-17.004 5.526a2.137 2.137 0 0 0-1.325 2.6c.327 1.134 1.532 1.825 2.646 1.464l17.003-5.525"
															fill="#CE1E5B" />
														<path fill="#392538"
															d="M282.735 434.37l4.064-1.321-1.32-4.065-4.065 1.321 1.321 4.064" />
														<path
															d="M291.298 431.587l4.064-1.32-1.32-4.066-4.065 1.321 1.321 4.065"
															fill="#BB242A" />
														<path
															d="M294.733 421.004a2.137 2.137 0 0 0-1.321-4.066l-17.003 5.527a2.136 2.136 0 0 0-1.325 2.6c.326 1.134 1.531 1.825 2.645 1.463l17.004-5.524"
															fill="#72C5CD" />
														<path
															d="M279.952 425.806l4.065-1.32c-.5-1.537-.964-2.965-1.32-4.065l-4.066 1.322 1.321 4.063"
															fill="#248C73" />
														<path
															d="M288.515 423.024l4.065-1.32-1.321-4.066-4.065 1.321 1.321 4.065"
															fill="#62803A" />
													</g> -->
												</g>
												<g class="anime-element fadeleft-animation">
													<g transform="translate(28 221)">
														<use fill="var(--color-black)"
															filter="url(#hero-illustration-u)"
															xlink:href="#hero-illustration-v" />
														<use fill="var(--color-3)" xlink:href="#hero-illustration-v" />
													</g>
													<text font-family="AppleColorEmoji, Apple Color Emoji"
														font-size="19" fill="var(--color-1-dark)"
														transform="translate(28 221)">
														<tspan x="17" y="36"></tspan>
													</text>
												</g>
												<g class="anime-element fadeleft-animation">
													<g transform="translate(325 257)">
														<use fill="var(--color-black)"
															filter="url(#hero-illustration-w)"
															xlink:href="#hero-illustration-x" />
														<use fill="var(--color-3)" xlink:href="#hero-illustration-x" />
													</g>
													<text font-family="AppleColorEmoji, Apple Color Emoji"
														font-size="16" fill="var(--color-1-dark)"
														transform="translate(325 257)">
														<tspan x="13" y="31"></tspan>
													</text>
												</g>
											</g>
										</g>
									</svg>
								</div>
							</div>
						</div>
					</div>
				</section>


				<section class="features section feature-fill" id="about">
					<div class="container">
						<div class="features-inner section-inner">
							<div class="features-header text-center">
								<div class="container-sm">
									<h2 class="section-title mt-0 powerful">The <span
											class="feature-question">What</span></h2>
									<p class="section-paragraph powerful">We’re UVA undergrad students building the
										first-ever marketplace of opinions. Using our unique market-based
										platform
										(think of something like the stock market, but not for shares of companies), you
										and other UVA students use tokens <b><i><a href="#faq">(what is a
													token?)</a></i></b>
										and demand-supply economics (explained below in the
										How section) to rank <i>anything</i>. But we want to start small, and we want to
										prove it works while adding value to the UVA community.
									</p>
									<br>
									<p class="section-paragraph powerful">So the very first opinion asset ranked on
										<b>Unibursal</b> will be something you’re all too familiar with - UVA
										courses. When you think a UVA course should be ranked higher, you buy tokens of
										that course - sort of like a weighted upvote, depending on how many you buy -
										and
										then selling them when you think they’re at their peak (a weighted
										downvote). As you and your peers do this, the course’s ranking will arrive at a
										level that more accurately reflects the opinions of everyone. And as opinions
										change constantly depending on the latest information, so too will the ranking -
										it’s all reflected in the market. And yes, we did say you need to spend money to
										vote on <b>Unibursal</b>. You might have some reservations, understandably, but
										as you read on, we hope you’ll see why. Be sure to check out our <b><a
												href="#faq">FAQ</a></b> to learn more, or reach out to us with <b><a
												href="mailto:unibursal@email.virginia.edu?subject=Unibursal Question">another
												question!</a></b>
									</p>
								</div>
							</div>
							<hr class="dotted">
							<br>
							<!-- Website for SVGs: https://iconify.design/icon-sets/?query=question+mark -->
							<h2 class="section-title mt-0 powerful text-center">The <span
									class="feature-question">Why</span></h2>
							<div class="features-wrap">
								<div class="feature text-center is-revealing">
									<div class="feature-inner">
										<div class="feature-icon">
											<!-- <svg width="88" height="88" xmlns="http://www.w3.org/2000/svg">
												<g fill="none" fill-rule="nonzero">
													<path d="M43 47v7a13 13 0 0 0 13-13v-7c-7.18 0-13 5.82-13 13z"
														fill="var(--color-4-dark)" />
													<path d="M32 41v4a9 9 0 0 0 9 9v-4a9 9 0 0 0-9-9z" fill="var(--color-4-light)" />
												</g>
											</svg> -->

											<svg xmlns="http://www.w3.org/2000/svg"
												xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
												focusable="false" width="2.5em" height="2.5em"
												style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
												preserveAspectRatio="xMidYMid meet">
												<g transform="translate(26,26)">
													<path fill="var(--color-4)"
														d="M17 27a3 3 0 0 1-3-3v-4a3 3 0 0 1 3-3c.603-.006 6-1 6-5c0-2-2-4-5-4c-2.441 0-4 2-4 3a3 3 0 1 1-6 0c0-4.878 4.58-9 10-9c8 0 11 5.982 11 11c0 4.145-2.277 7.313-6.413 8.92c-.9.351-1.79.587-2.587.747V24a3 3 0 0 1-3 3z" />
													<circle fill="var(--color-4)" cx="17" cy="32" r="3" />
												</g>
											</svg>
										</div>
										<h4 class="feature-title h3-mobile mb-8 powerful">To Quantify Opinion</h4>
										<p class="text-sm feature-text">You know what your own opinion is on the classes
											you’ve taken, and maybe you know the opinion of a few friends and strangers
											on Reddit, but it’s pretty much impossible to gauge what <i>all</i> your
											peers think about any class at
											any given moment (like after a professor drops a surprise quiz??) - and
											simple <i>Like</i> and <i>Upvote/Downvote</i> systems don’t tell the whole
											story. Where’s the distinction between “it wasn’t bad” and “I liked it” and
											“I <b><i><u>loved</u></i></b> it”? Enter Unibursal. We’re going somewhere
											nobody has gone before, connecting people’s opinions in a
											comprehensive, dynamic way that just makes sense.
										</p>
									</div>
								</div>

								<div class="feature text-center is-revealing">
									<div class="feature-inner">
										<div class="feature-icon">
											<!-- <svg width="88" height="88" xmlns="http://www.w3.org/2000/svg">
												<g fill="none" fill-rule="nonzero">
													<path d="M43 47v7a13 13 0 0 0 13-13v-7c-7.18 0-13 5.82-13 13z"
														fill="var(--color-4-dark)" />
													<path d="M32 41v4a9 9 0 0 0 9 9v-4a9 9 0 0 0-9-9z" fill="var(--color-4-light)" />
												</g>
											</svg> -->

											<svg xmlns="http://www.w3.org/2000/svg"
												xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
												focusable="false" width="2.5em" height="2.5em"
												style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
												preserveAspectRatio="xMidYMid meet">
												<g transform="translate(26,26)">
													<path fill="var(--color-4)"
														d="M17 27a3 3 0 0 1-3-3v-4a3 3 0 0 1 3-3c.603-.006 6-1 6-5c0-2-2-4-5-4c-2.441 0-4 2-4 3a3 3 0 1 1-6 0c0-4.878 4.58-9 10-9c8 0 11 5.982 11 11c0 4.145-2.277 7.313-6.413 8.92c-.9.351-1.79.587-2.587.747V24a3 3 0 0 1-3 3z" />
													<circle fill="var(--color-4)" cx="17" cy="32" r="3" />
												</g>
											</svg>
										</div>
										<h4 class="feature-title h3-mobile mb-8 powerful">To Share Information</h4>
										<p class="text-sm feature-text">Listen, we love theCourseForum and
											RateMyProfessors but part of the reason we built this platform is because
											they, and other
											review-based systems don’t tell the full story - none of the people we’ve
											asked have ever left a review on them despite enjoying or disliking a number
											of
											classes and professors. So at the very least, we hope the unique structure
											and benefits of <b>Unibursal</b> will make us a tool for sharing information
											that
											other review-based websites have missed.
										</p>
									</div>
								</div>

								<div class="feature text-center is-revealing">
									<div class="feature-inner">
										<div class="feature-icon">
											<!-- <svg width="88" height="88" xmlns="http://www.w3.org/2000/svg">
												<g fill="none" fill-rule="nonzero">
													<path d="M43 47v7a13 13 0 0 0 13-13v-7c-7.18 0-13 5.82-13 13z"
														fill="var(--color-4-dark)" />
													<path d="M32 41v4a9 9 0 0 0 9 9v-4a9 9 0 0 0-9-9z" fill="var(--color-4-light)" />
												</g>
											</svg> -->

											<svg xmlns="http://www.w3.org/2000/svg"
												xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
												focusable="false" width="2.5em" height="2.5em"
												style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
												preserveAspectRatio="xMidYMid meet">
												<g transform="translate(26,26)">
													<path fill="var(--color-4)"
														d="M17 27a3 3 0 0 1-3-3v-4a3 3 0 0 1 3-3c.603-.006 6-1 6-5c0-2-2-4-5-4c-2.441 0-4 2-4 3a3 3 0 1 1-6 0c0-4.878 4.58-9 10-9c8 0 11 5.982 11 11c0 4.145-2.277 7.313-6.413 8.92c-.9.351-1.79.587-2.587.747V24a3 3 0 0 1-3 3z" />
													<circle fill="var(--color-4)" cx="17" cy="32" r="3" />
												</g>
											</svg>
										</div>
										<h4 class="feature-title h3-mobile mb-8 powerful">To Empower Decision-Making
										</h4>
										<p class="text-sm feature-text">You make a lot of choices based on simple facts,
											but you also make a lot of choices based on other people’s opinions
											- what shows to binge, where to get dinner, what party to go to, and
											oftentimes, what class to take. We hope
											<b>Unibursal</b>
											helps you make those decisions based on an accurate
											view of the community’s opinion. And if you do have an opinion to offer, you
											have a chance to profit!
										</p>
									</div>
								</div>
								<div class="feature text-center is-revealing" style="visibility: visible;">
									<div class="feature-inner">
										<div class="feature-icon">
											<!-- <svg width="88" height="88" xmlns="http://www.w3.org/2000/svg">
												<g fill="none" fill-rule="nonzero">
													<path d="M43 47v7a13 13 0 0 0 13-13v-7c-7.18 0-13 5.82-13 13z"
														fill="var(--color-4-dark)" />
													<path d="M32 41v4a9 9 0 0 0 9 9v-4a9 9 0 0 0-9-9z" fill="var(--color-4-light)" />
												</g>
											</svg> -->

											<svg xmlns="http://www.w3.org/2000/svg"
												xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
												focusable="false" width="2.5em" height="2.5em"
												style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
												preserveAspectRatio="xMidYMid meet">
												<g transform="translate(26,26)">
													<path fill="var(--color-4)"
														d="M17 27a3 3 0 0 1-3-3v-4a3 3 0 0 1 3-3c.603-.006 6-1 6-5c0-2-2-4-5-4c-2.441 0-4 2-4 3a3 3 0 1 1-6 0c0-4.878 4.58-9 10-9c8 0 11 5.982 11 11c0 4.145-2.277 7.313-6.413 8.92c-.9.351-1.79.587-2.587.747V24a3 3 0 0 1-3 3z" />
													<circle fill="var(--color-4)" cx="17" cy="32" r="3" />
												</g>
											</svg>
										</div>
										<h4 class="feature-title h3-mobile mb-8 powerful">And...</h4>
										<p class="text-sm feature-text">We’ve set our sights on gauging all sorts of
											ideas and opinions soon, but right now our focus is on answering these
											course-related questions: <br><br>
											1) What do <i>you</i> think about this class?
											<br>
											2) What does the <i>rest</i> of UVA think about it?
											<br>
											3) Can you make any decision or take any action based on that
											information?
											<br>
											<br>
											If you've got an answer to those questions - or want one - we want you to
											join <b>Unibursal</b>
										</p>
									</div>
								</div>
							</div>

							<br>
							<br>
							<br>
							<br>
							<hr class="dotted">

							<div class="features-header text-center">
								<h2 class="section-title mt-0 powerful">The <span class="feature-question">Who</span>
								</h2>
								<p class="section-paragraph powerful">We’re asking other students those exact questions!
									Stay
									tuned for the video :)</p>
							</div>
							<hr class="dotted">
							<div class="features-header text-center">
								<h2 class="section-title mt-0 powerful">The <span class="feature-question">How</span>
								</h2>
								<div class="row how-left-justified">
									<div class="how-numbers col-1">
										<h1 class="powerful how-headings">01</h1>
									</div>
									<div class="text-left col-11">
										<p class="section-paragraph powerful">Buy a token of a class that you have a
											positive opinion of and that you think others do too. This pushes its price up.
											<b><i><a href="#faq">What value do I get from holding a token?</a></i></b>
										</p>
									</div>
								</div>

								<div class="row how-right-justified">
									<div class="how-numbers col-1">
										<h1 class="powerful how-headings">02</h1>
									</div>
									<div class="text-left col-11">
										<p class="section-paragraph powerful">Sell the token when you feel that the class is
											accurately ranked compared to other classes on the market - or simply, when
											you don’t think its price is going to go up any further. <b><i><a
														href="#faq">How do I know I’ll be
														able to actually sell a token once I’ve bought it?</a></i></b>
										</p>
									</div>
								</div>

								<div class="row how-left-justified">
									<div class="how-numbers col-1">
										<h1 class="powerful how-headings">03</h1>
									</div>
									<div class="text-left col-11">
										<p class="section-paragraph powerful">When enough people participate in voting
											their opinions (buying and selling tokens),
											our unique interpretation of a <b><a target="blank"
													href="https://review.chicagobooth.edu/magazine/winter-2013/eugene-fama-efficient-markets-and-the-nobel-prize#:~:text=Fama%2C%20efficient%20markets%2C%20and%20the%20Nobel%20Prize,-John%20H.&text=In%201970%2C%20in%20%E2%80%9CEfficient%20Capital,available%20information%20about%20future%20values.">Nobel-awarded
													theory</a></b> says that the prices of these
											tokens will reflect where the community's opinion stands. So,
											the class with the highest-priced token is held the highest in community
											opinion.
										</p>
									</div>
								</div>
							</div>

						</div>
					</div>
				</section>

				<section class="section" id="faq">
					<!-- <div class="container uk-section"> -->
					<div class="features-inner section-inner uk-container uk-container-small">
						<div class="features-header text-center">
							<div class="container-sm">
								<div>
									<h2 class="faq-title section-title mt-0">Frequently Asked Questions</h2>
									<a href="mailto:unibursal@email.virginia.edu?subject=Unibursal Question">
										<button style="height: 40%;"
											class="faq-title ml-48 mb-24 button button-primary button-block submit-button">Ask
											a
											Question!</button>
									</a>
								</div>
								<div class="uk-article-content">
									{% for k, v in faqdictionary.items %}
									<ul data-uk-accordion="multiple: true">
										<li>
											<h3 class="uk-accordion-title powerful" style="text-align: left">{{k}}</h3>
											<div class="uk-accordion-content" style="text-align: left">
												<p style="color: var(--color-1)">{{v}}</p>
											</div>
										</li>
									</ul>
									{% endfor %}
								</div>
							</div>
						</div>

					</div>
		</div>
		</section>


		<!-- <section class="testimonials section">
					<div class="testimonials-shape testimonials-shape-1">
						<svg width="280" height="280" viewBox="0 0 280 280" xmlns="http://www.w3.org/2000/svg">
							<defs>
								<linearGradient x1="100%" y1="0%" x2="0%" y2="100%" id="testimonials-shape-1">
									<stop stop-color="var(--color-2-dark)" offset="0%" />
									<stop stop-color="var(--color-2-light)" offset="100%" />
								</linearGradient>
							</defs>
							<circle cx="140" cy="685" r="140" transform="translate(0 -545)"
								fill="url(#testimonials-shape-1)" fill-rule="evenodd" />
						</svg>
					</div>
					<div class="testimonials-shape testimonials-shape-2">
						<svg width="125" height="107" viewBox="0 0 125 107" xmlns="http://www.w3.org/2000/svg">
							<g fill="none" fill-rule="evenodd">
								<circle fill="var(--color-4)b" cx="48" cy="59" r="48" />
								<path
									d="M58.536 39.713c0-6.884 1.72-14.007 5.163-21.368 3.443-7.36 8.167-13.458 14.173-18.292l11.645 7.91c-3.589 4.98-6.262 10.016-8.02 15.106S78.86 33.598 78.86 39.384v13.623H58.536V39.713z"
									fill="var(--color-2-light)" />
								<path
									d="M93.252 39.713c0-6.884 1.722-14.007 5.164-21.368 3.442-7.36 8.166-13.458 14.172-18.292l11.646 7.91c-3.589 4.98-6.262 10.016-8.02 15.106s-2.637 10.529-2.637 16.315v13.623H93.252V39.713z"
									fill="var(--color-2)" />
							</g>
						</svg>
					</div>
					<div class="testimonials-shape testimonials-shape-3">
						<svg width="48" height="48" viewBox="0 0 48 48" mlns="http://www.w3.org/2000/svg">
							<defs>
								<linearGradient x1="93.05%" y1="19.767%" x2="15.034%" y2="85.765%"
									id="testimonials-shape-3">
									<stop stop-color="var(--color-4)" offset="0%" />
									<stop stop-color="var(--color-4-light)" offset="100%" />
								</linearGradient>
							</defs>
							<circle cx="24" cy="434" r="24" transform="translate(0 -410)"
								fill="url(#testimonials-shape-3)" fill-rule="evenodd" />
						</svg>
					</div>
					<div class="container">
						<div class="testimonials-inner section-inner">
							<h2 class="section-title mt-0 text-center">Testimonials</h2>
							<div class="testimonials-wrap">
								<div class="testimonial text-xs is-revealing">
									<div class="testimonial-inner">
										<div class="testimonial-main">
											<div class="testimonial-header">
												<img class="mb-16"
													src="{% static 'landingpage/dist/images/testimonial-01.png' %}"
													alt="Testimonial">
											</div>
											<div class="testimonial-body">
												<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
													sed do
													eiusmod tempor incididunt.</p>
											</div>
										</div>
										<div class="testimonial-footer">
											<div class="testimonial-link">
												<a class="at-tags" href="#">@martajones</a>
											</div>
										</div>
									</div>
								</div>
								<div class="testimonial text-xs is-revealing">
									<div class="testimonial-inner">
										<div class="testimonial-main">
											<div class="testimonial-header">
												<img class="mb-16"
													src="{% static 'landingpage/dist/images/testimonial-02.png' %}"
													alt="Testimonial">
											</div>
											<div class="testimonial-body">
												<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
													sed do
													eiusmod tempor incididunt.</p>
											</div>
										</div>
										<div class="testimonial-footer">
											<div class="testimonial-link">
												<a class="at-tags" href="#">@michealpahm</a>
											</div>
										</div>
									</div>
								</div>
								<div class="testimonial text-xs is-revealing">
									<div class="testimonial-inner">
										<div class="testimonial-main">
											<div class="testimonial-header">
												<img class="mb-16"
													src="{% static 'landingpage/dist/images/testimonial-03.png' %}"
													alt="Testimonial">
											</div>
											<div class="testimonial-body">
												<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
													sed do
													eiusmod tempor incididunt.</p>
											</div>
										</div>
										<div class="testimonial-footer">
											<div class="testimonial-link">
												<a class="at-tags" href="#">@markbrown</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section> -->

		<section class="newsletter section text-dark">
			<div class="container-sm">
				<div class="newsletter-inner section-inner">
					<div class="newsletter-header text-center">
						<h2 class="section-title mt-0">Stay in the know</h2>
						<a href="/"><img class="mx-auto d-block mb-32"
								src="{% static 'landingpage/dist/images/footericon.png' %}" alt="Unibursal"></img></a>
					</div>


					<!-- <div class="footer-form newsletter-form field field-grouped">
								<div class="control control-expanded">
									<input class="input" type="email" name="email"
										placeholder="Your best email&hellip;">
								</div>
								<div class="control">
									<a class="button button-primary button-block button-shadow" href="#">Early
										access</a>
								</div>
							</div> -->
					<div class="text-center">
						<a href="#EMAIL">
							<button style="height: 40%;"
								class="mx-auto faq-title button button-primary button-block submit-button">Get Early
								Access</button>
						</a>
					</div>
				</div>
			</div>
		</section>
		</main>

		<footer class="site-footer">
			<div class="container">
				<div class="site-footer-inner has-top-divider">
					<div class="brand footer-brand">
					</div>

					<ul class="footer-links list-reset">
						<li>
							<a href="mailto:unibursal@email.virginia.edu">Contact Us</a>
						</li>
						<li>
							<a href="#">About us</a>
						</li>
					</ul>
					<ul class="footer-social-links list-reset">
						<!-- <li>
							<a href="#">
								<span class="screen-reader-text">Facebook</span>
								<svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
									<path
										d="M6.023 16L6 9H3V6h3V4c0-2.7 1.672-4 4.08-4 1.153 0 2.144.086 2.433.124v2.821h-1.67c-1.31 0-1.563.623-1.563 1.536V6H13l-1 3H9.28v7H6.023z"
										fill="var(--color-3)" />
								</svg>
							</a>
						</li> -->
						<!-- <li>
							<a href="#">
								<span class="screen-reader-text">Twitter</span>
								<svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
									<path
										d="M16 3c-.6.3-1.2.4-1.9.5.7-.4 1.2-1 1.4-1.8-.6.4-1.3.6-2.1.8-.6-.6-1.5-1-2.4-1-1.7 0-3.2 1.5-3.2 3.3 0 .3 0 .5.1.7-2.7-.1-5.2-1.4-6.8-3.4-.3.5-.4 1-.4 1.7 0 1.1.6 2.1 1.5 2.7-.5 0-1-.2-1.5-.4C.7 7.7 1.8 9 3.3 9.3c-.3.1-.6.1-.9.1-.2 0-.4 0-.6-.1.4 1.3 1.6 2.3 3.1 2.3-1.1.9-2.5 1.4-4.1 1.4H0c1.5.9 3.2 1.5 5 1.5 6 0 9.3-5 9.3-9.3v-.4C15 4.3 15.6 3.7 16 3z"
										fill="var(--color-3)" />
								</svg>
							</a>
						</li> -->
						<!-- <li>
							<a href="#">
								<span class="screen-reader-text">Google</span>
								<svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
									<path
										d="M7.9 7v2.4H12c-.2 1-1.2 3-4 3-2.4 0-4.3-2-4.3-4.4 0-2.4 2-4.4 4.3-4.4 1.4 0 2.3.6 2.8 1.1l1.9-1.8C11.5 1.7 9.9 1 8 1 4.1 1 1 4.1 1 8s3.1 7 7 7c4 0 6.7-2.8 6.7-6.8 0-.5 0-.8-.1-1.2H7.9z"
										fill="var(--color-3)" />
								</svg>
							</a>
						</li> -->
					</ul>
					<div class="footer-copyright">&copy; Unibursal</div>
				</div>
			</div>

	</div>
	<!-- START - We recommend to place the below code in footer or bottom of your website html  -->
	<script>
		window.REQUIRED_CODE_ERROR_MESSAGE = 'Please choose a country code';

		window.EMAIL_INVALID_MESSAGE = window.SMS_INVALID_MESSAGE = "Invalid information. Please try again.";

		window.REQUIRED_ERROR_MESSAGE = "This field cannot be left blank. ";

		window.GENERIC_INVALID_MESSAGE = "Invalid information. Please try again.";




		window.translation = {
			common: {
				selectedList: '{quantity} list selected',
				selectedLists: '{quantity} lists selected'
			}
		};

		var AUTOHIDE = Boolean(0);
	</script>
	<script src="https://sibforms.com/forms/end-form/build/main.js"></script>
	<!-- END - We recommend to place the above code in footer or bottom of your website html  -->
	<!-- <script>
	window.onscroll = function() {myFunction()};

	// Get the navbar
	var navbar = document.getElementById("navbar");

	// Get the offset position of the navbar
	var sticky = navbar.offsetTop;

	// Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
	function myFunction() {
	  if (window.pageYOffset >= sticky) {
	    navbar.classList.add("sticky")
	  } else {
	    navbar.classList.remove("sticky");
	  }
	}
</script> -->
	<script src="{% static 'landingpage/dist/js/main.min.js' %}"></script>
</body>

</html>