{% extends 'landingpage/index.html' %}
{% load crispy_forms_tags %}

{% block form %}
  <form action="" method="post"> {% csrf_token %}
    <!-- Inner Divs -->
    <div class="container-fluid text-center">
      <!--<div class="row content">-->
      <div class="d-flex flex-row text-center" >

        <!-- Textbox Div -->
        <div class="d-flex flex-column text-center" id="ColumnFormDiv">
          <div class="p-2">
            <div class="form-group">
              <!--<label for="usr">Price:</label>
              <input type="text" class="form-control" id="usr">-->
              {{ form.username|as_crispy_field }}
            </div>
          </div>
          <div class="p-2">
            <div class="form-group">
              <!--<label for="usr">Share Quantity:</label>
              <input type="text" class="form-control" id="usr">-->
              {{ form.email|as_crispy_field }}
            </div>
          </div>

           <div class="p-2">
            <div class="form-group">
              <!--<label for="usr">Share Quantity:</label>
              <input type="text" class="form-control" id="usr">-->
              {{ form.password|as_crispy_field }}
            </div>
          </div>
        </div>

      </div>

    </div>

    <br>

    <!-- Place Order Button -->
    <div class="control">
    <button type="submit" class="button button-primary button-block" id="SubmitButton">Register</button>
    </div>
  </form>

<br>
<p>Already have an account? Login <a href="{% url 'landingpage:login_url' %}">Here</a>!</p>
<br>
{% endblock form %}