{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Classes{% endblock %}
{% load static %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'class/classpage.css' %}"/>

<section class="section section-formatting">
  <div class="container container-formatting" id="classview">
    <div class="row">
      <div class = "col-lg-10 col-md-12">
        <canvas id="all_chart" class="all-price-chart"></canvas>
      </div>
      <div id="checkbox-list" class="d-none d-lg-block col-lg-2 class-checkboxes">
        <div class= "form-checkboxes">
          <h4 class="white" style = "padding-bottom: 10px;">Filter</h4>
          <form action="" id="checkbox-form-id">
            {% for classes in all_classes %}
              <div class="form-group">
                <input type="checkbox" class="form-check-input" id="check_{{classes.Ticker}}" checked>
                <label class="form-check-label white" id="label_{{classes.Ticker}}" for="check_{{classes.Ticker}}">{{classes.ClassName}}</label>
              </div>
            {% endfor %}
          </form>
        </div>
      </div>
    </div>

    <div class="container bg-white">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Code</th>
          <th scope="col">Class</th>
          <th scope="col">Professor</th>
          <th scope="col">Latest Price</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for classes in all_classes %}
          <tr>
            <td>{{classes.Ticker}}</td>
            <td>{{classes.ClassName}}</td>
            <td>Insert Professor</td>
            <td>Get Latest Price</td>
            <td>
              <button id="{{classes.Ticker}}" type="button" class="btn bg-success"
              data-toggle="modal" data-target="#class-modal">Buy</button>
              <button id="{{classes.Ticker}}" type="button" class="btn bg-danger"
              data-toggle="modal" data-target="#class-modal">Sell</button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>

    <!--<div class="row justify-content-center" style="margin: 0rem 3rem;">
      {% for classes in all_classes%}
      <div class="col-lg-3 col-md-4 col-sm-6">
        <button id="{{classes.ClassName}}" type="button" class="{{classes.Ticker}} class-cards {{classes.Department}} domain-box" data-toggle="modal"
          data-target="#class-modal">
          <h3 id="button-classname">{{classes.ClassName}}</h3>
          <p class="class-subtitle">{{classes.Department}}</p>
          <p hidden="true" id="class-ticker" class="class-subtitle">{{classes.Ticker}}</p>
        </button>
      </div>
      {% endfor %}
    </div>-->
    <div class="modal fade class-modal" id="class-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog class-modal-box" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="modal-label"></h3>
            <button onclick="redirect()" type="submit" class="btn btn-primary ml-5">Buy/Sell</button>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body class-modal-body">
            <div class="row">
              <form style="width: 100%;">
                <div style="width: 33%; display: inline-block">
                  insert price input
                </div>
                <div style="width: 33%; display: inline-block">
                  autofill buy/sell
                </div>
                <div style="width: 33%; display: inline-block">
                  price*quantity
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block" id="PlaceOrderButton">Place Order</button>
              </form>
            </div>
            <canvas id="myChart" class="price-chart"></canvas>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% block javascript %}
  <script>
    var all_prices = JSON.parse('{{all_prices_json|safe}}');
    function redirect() {
      var className = document.getElementById("modal-label").innerHTML;
      if(className!=undefined){
        document.location.href='http://127.0.0.1:8000/order/gotoorder/'+className+'/';
        return false; // cancel default behavior
      }
    }

  </script>
  <script src="{% static 'class/classes.js' %}"></script>
{% endblock %}

{% endblock body %}
