{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Classes{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'class/classpage.css' %}" />
{% endblock %}

{% block body %}

<section class="section" style="margin:7rem">
  <div class="container" id="classview">
    <div class="row justify-content-center">
      {% for classes in all_classes%}
      <div class="col-lg-3 col-md-4 col-sm-6">
        <button id="{{classes.ClassName}}" type="button" class="{{classes.Ticker}} class-cards {{classes.Department}} domain-box" data-toggle="modal"
          data-target="#class-modal">
          <h3 id="button-classname">{{classes.ClassName}}</h3>
          <p class="class-subtitle">{{classes.Department}}</p>
          <p hidden="true" id="class-ticker" class="class-subtitle">{{classes.Ticker}}</p>
        </button>
      </div>
      {% endfor %}
    </div>
    <div class="modal fade class-modal" id="class-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog class-modal-box" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="modal-label"></h3>
            <form id="redirectToOrder" action="">
              <button type="submit" class="btn btn-primary ml-5">Buy/Sell</button>
            </form>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body class-modal-body">
            <canvas id="myChart" class="price-chart"></canvas>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script>
  $('#class-modal').on('shown.bs.modal', function (event) {
    var button = event.relatedTarget;
    var classname = button.id;
    var classticker = button.classList[0];
    document.getElementById("modal-label").innerHTML = classname;
    document.getElementById("redirectToOrder").action = "/order/gotoorder/" + classticker;
    $.ajax({
      type: "GET",
      url: "/class/get_prices",
      data: { "class": button.id },
      dataType: 'json',
      success: function (data) {
        var ctx = document.getElementById('myChart').getContext('2d');
        var graph_data = [];
        var time = [];
        data.forEach(element => graph_data.push({ "x": new Date(element["fields"]["Time"]), "y": element["fields"]["Price"] }));
        data.forEach(element => time.push(new Date(element["fields"]["Time"])));
        console.log(graph_data);
        console.log(time);
        var myChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: time,
            datasets: [{
              lineTension: 0,
              fill: false,
              borderWidth: 3,
              borderColor: "rgba(0, 0, 0, 0.3)",
              label: 'Prices',
              data: graph_data,
              backgroundColor: "rgba(0, 0, 0, 0.3)"
            }]
          },
          options: {
            legend: {
              display: false
            },
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true
                },
                scaleLabel: {
                  display: true,
                  labelString: 'Price',
                  fontSize: 16
                }
              }],
              xAxes: [{
                scaleLabel: {
                  display: true,
                  labelString: 'Date',
                  fontSize: 16
                },
                type: 'time',
                time: {
                  unit: 'hour',
                  unitStepSize: 1,
                  displayFormats: {
                    'hour': 'MM/DD/YY h:00',
                  },
                  distribution: 'linear'
                }
              }]
            },
          }
        });
      },
      error: function (data) {
        console.log("error");
      },
    })
  });
</script>
{% endblock %}

{% endblock body %}