#macOS files
.DS_Store

#settings
market_project/settings.py

#database migrations folder
order/migrations/

#pycache folders
order/__pycache__/
market_project/__pycache__/
landingpage/__pycache__/
order/__pycache__/
userinfo/__pycache__/
landingpage/migrations/__pycache__/
userinfo/migrations/__pycache__/
*.pyc
