#macOS files
.DS_Store

#settings
market_project/settings.py

# node modules
landingpage/static/landingpage/node_modules/

#database migrations folder
dashboard/migrations/
landingpage/migrations/
userinfo/migrations/


#pycache folders
dashboard/__pycache__/
landingpage/__pycache__/
market_project/__pycache__/
userinfo/__pycache__/
*.pyc
