
header {
  padding-top: 3%;
  padding-bottom: 2%;
  font-size: 50;
  font-weight: bold;
  color: #fffbfa;
}

#InterDiv {
  background-color: #e7e7e7;
  width: 70%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
  padding-bottom: 32%;
  border-radius: 1%;
}

#InterLeft {
  background-color: #e7e7e7;
  width: 34%;
  height: 100%;
  float: left;
  padding-top: 3%;
  border-width: 1%;
  border-style: solid;
  border-color: #e7e7e7;
}

#InterRight {
  background-color: #e7e7e7;
  width: 66%;
  height: 100%;
  float:right;
  padding-top: 9%;
  border-width: 1%;
  border-style: solid;
  border-color: #e7e7e7;
}

#dropdownMenuButton {
  height: 25%;
  width: 75%;
  font-weight: bold;
  background-color: #e7e7e7;
}

#dropdownMenuButton2 {
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  width: 20%;
  height: 8%;
  background-color: #e7e7e7;

}

/* #PriceTextBox {
  opacity: 0;
} */

#PlaceOrderButton {
  background-color: #ce796b;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
  border-color: #ce796b;
  font-weight: bold;
}

.ActiveOrderInfoDiv {
  background-color: #e7e7e7;
  border-color: #e7e7e7;
  border-width: 2px;
  border-style: solid;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

#AsksDiv {
  border-right: 1px solid #292b2c;
}

#BidsDiv {
  border-left: 1px solid #292b2c;
}

.table{
  width: 70%;
}

.table-color {
    background-color: #84b082;
    color: #284b63;
}

.headings {
    color: #284b63;
}

p {
    color: #fffbfa;
}