<html>
  <head>
    <title>Your Info</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="userinfo/YourInfo.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>

    <!-- navigation bar-->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <a class="navbar-brand" href="#">Logo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Your Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Place Order</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
        </ul>

      </div>
    </nav>

    <!-- Place Order header -->
    <header class="container-fluid text-center">
      <p>Your Info</p>
    </header>

    <!-- UserName Div -->
    <div class="container-fluid text-center">
      <h1>Username</h1>
      {% for agent in agentTable %}
          <h4>{{agent.Agent}}</h4>
      {% endfor %}
    </div>

    <br>
    <br>

    <!-- Cash Div -->
    <div class="container-fluid text-center">
      <h1>Cash</h1>
      {% for agent in agentTable %}
          <h4>{{agent.Cash}}</h4>
      {% endfor %}
    </div>

    <br>
    <br>

    <!-- Shares Div -->
    <!-- when reading from database, you can proabably go through a for loop and add multiple rows depending on the info -->
<div class="container-fluid text-center">
    <h1>Shares</h1>
    <br>
      <div id="SharesDiv">
          <div class="row">
                <div class="col">Company</div>
                <div class="col">Shares</div>
                <div class="col">Borrowed</div>
                <div class="col">Collateral</div>
          </div>
          {% for share in agentShares %}
            <h1>{{agentShares.Company}}<h1>
            <h1>{{agentShares.Shares}}<h1>
            <h1>{{agentShares.Borrowed}}<h1>
            <h1>{{agentShares.Collateral}}<h1>
          {% endfor %}
      </div>

  </div>

  <br>
  <br>

  <!-- Portfolio Div -->
  <div class="container-fluid text-center">
    <h1>Portfolio Value</h1>
    {% for agent in agentTable %}
        <h4>{{agent.Wealth}}</h4>
    {% endfor %}
  </div>
