{% extends 'userinfo/base.html' %}

{% block title %}Your Info Page{% endblock %}

{% block body %}

    <div id="content">
      {% if messages %}
        {% for message in messages %}
          <div class="alert {{ message.tags }} m-2" id="msg" role="alert">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    </div>

    <!-- Place Order header -->
    <header class="container-fluid text-center">
      <p>Your Info</p>
    </header>

    <!-- UserName Div -->
    <div class="container-fluid text-center">
      <h1>Username</h1>
      {% for agent in agentTable %}
          <h4>{{agent.Agent}}</h4>
      {% endfor %}
    </div>

    <br>
    <br>

    <!-- Cash Div -->
    <div class="container-fluid text-center">
      <h1>Cash</h1>
      {% for agent in agentTable %}
          <h4>{{agent.Cash}}</h4>
      {% endfor %}
    </div>

    <br>
    <br>

    <!-- Shares Div -->
    <!-- when reading from database, you can proabably go through a for loop and add multiple rows depending on the info -->
<div class="container-fluid text-center">
    <h1>Shares</h1>
    <br>
      <div id="SharesDiv">
          <div class="row">
                <div class="col">Company</div>
                <div class="col">Shares</div>
                <div class="col">Borrowed</div>
                <div class="col">Collateral</div>
          </div>
          {% for share in agentShares %}
            <h1>{{agentShares.Company}}</h1>
            <h1>{{agentShares.Shares}}</h1>
            <h1>{{agentShares.Borrowed}}</h1>
            <h1>{{agentShares.Collateral}}</h1>
          {% endfor %}
      </div>

  </div>

  <br>
  <br>

  <!-- Portfolio Div -->
  <div class="container-fluid text-center">
    <h1>Portfolio Value</h1>
    {% for agent in agentTable %}
        <h4>{{agent.Wealth}}</h4>
    {% endfor %}
  </div>

    <script>
      setTimeout(function(){
      if($('#msg').length > 0) {
      $('#msg').remove();
      }
      }, 4000)
    </script>

{% endblock body %}

