<div class="row">
    <div class="col" id="AsksDiv">
      <div class="row text-light table-color">
        <div class="col headings">Class</div>
        <div class="col headings">Shares</div>
        <div class="col headings">Buys</div>
      </div>
      {% for asks in all_asks%}
      <div class="row">
        <div class="col">{{ asks.OrderBookName }}</div>
        <div class="col">{{ asks.Quantity }}</div>
        {% if asks.Price == 2147483647 or asks.Price == 0 %}
        <div class="col"></div>
        {% else %}
        <div class="col">${{ asks.Price }}.00</div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    <div class="col" id="BidsDiv">
      <div class="row text-light table-color">
        <div class="col headings">Sells</div>
        <div class="col headings">Shares</div>
        <div class="col headings">Class</div>
      </div>
      {% for bids in all_bids%}
      <div class="row">
        {% if bids.Price == 2147483647 or bids.Price == 0 %}
        <div class="col"></div>
        {% else %}
        <div class="col">${{ bids.Price }}.00</div>
        {% endif %}
        <div class="col">{{ bids.Quantity }}</div>
        <div class="col">{{ bids.OrderBookName }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
