<!DOCTYPE html>
<head>
    <title></title>
</head>
<body>
    <h1> Place your order (Location: Order home from the templates/order folder)<h1>
    <input type="number" min="1" placeholder="Share quantity">
    <br></br>
    <label for="company">Company</label>
    <select name="company">
        {% for getdata in CompanyDetails %}
        <option>{{getdata.FullName}}</option>
        {% endfor %}
    </select>
    <br><br>

    <label for="orderType">Order type</label>
    <select name="orderType">
        <option value="market">Market</option>
        <option value="limit">Limit</option>
    </select>
    <br></br>

    <label for="orderDirection">Order direction</label>
    <select name="orderDirection">
        <option value="bid">Bid</option>
        <option value="ask">Ask</option>
    </select>
    <br><br>

    <input type="number" min="1" placeholder="Price">

    <submit type="submit" value="Place your order">


</body>
</html>
