{% extends 'order/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Order Page{% endblock %}

{% block body %}
<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
<script>
  /*
      On submitting the form, send the POST ajax
      request to server and after successfull submission
      display the object.
  */
  // $(document).ready(function () {
  // $("#order_form").submit(function (e) {
  $(document).on("submit", "#order_form", function (e) {
    // prevent page reload and default actions
    e.preventDefault();
    // serialize the data for sending the form data.
    var serializedData = $(this).serialize();
    // make POST ajax call
    $.ajax({
      type: 'POST',
      url: "{% url 'order:post_order' %}",
      data: serializedData,
      success: function (response) {
        // clear the form
        $("#order_form").trigger('reset');
      },
      error: function (response) {
      }
    });
    $.ajax({
      url: "{% url 'order:your_orders' %}",
      success: function (response) {
        $("#YourOrdersDiv").load("/order/yourorders/");
      },
      error: function (response) {
      }
    });
    $.ajax({
      url: "{% url 'order:all_orders' %}",
      success: function (response) {
        $("#AllOrdersDiv").load("/order/allorders/");
      },
      error: function (response) {
      }
    });
  });
  // TODO: in the future turn all these AJAX calls into a function that accepts a URL as a parameter
  $(document).on("submit", "#cancel_button", function (e) {
    e.preventDefault();
    $.ajax({
      url: e.target.action,
      success: function (response) {
        $("#YourOrdersDiv").load("/order/yourorders/");
      },
      error: function (response) {
      }
    });
    $.ajax({
      url: e.target.action,
      success: function (response) {
        $("#AllOrdersDiv").load("/order/allorders/");
      },
      error: function (response) {
      }
    });
  });
</script>
<header class="container-fluid text-center">
  <p>Place Order</p>
  <!-- <script>
    function deleteOrder() {
      $(document).on('click', ':button', function () {
        $(this).parent().remove();
      });
    }
  </script> -->
</header>

<form method="POST" id="order_form"> {% csrf_token %}
  <!-- Inner Divs -->
  <div class="container text-center">
    <!--<div class="row content">-->
    <div class="d-flex flex-row align-content-between" id="InterDiv">
      <!-- Dropdown Div -->
      <div class="d-flex flex-column" id="InterLeft">
        <div class="p-2">
          <div class="dropdown">
            {{ form.Direction|as_crispy_field }}
          </div>
        </div>

        <div class="p-2">
          <div class="dropdown">
            {{ form.OrderBookName|as_crispy_field }}
          </div>
        </div>

        <div class="p-2" data-toggle="tooltip" title="Note: choosing limit means you set your maximum buy price or
        minimum sell price (recommended). Choosing market means you want to buy from the current
            lowest seller or want to sell to the current highest buyer.">
          <div class="dropdown">
            {{ form.Type|as_crispy_field }}
          </div>
        </div>
      </div>

      <!-- Textbox Div -->
      <div class="d-flex flex-column" id="InterRight">
        <div class="p-2" id="PriceTextBox">
          <div class="form-group">
            {{ form.Price|as_crispy_field }}
          </div>
        </div>
        <div class="p-2">
          <div class="form-group">
            {{ form.Quantity|as_crispy_field }}
          </div>
        </div>
      </div>
      <!-- Place Order Button -->
    </div>

  </div>

  <br>
  <button type="submit" class="btn btn-primary btn-lg btn-block" id="PlaceOrderButton">Place Order</button>

</form>

<br><br><br>

<!-- Active Order header -->
<header class="container-fluid text-center">
  <p>Your Active Orders</p>
</header>

<!-- when reading from database, you can probably go through a for loop and add multiple rows depending on the info -->
<div class="container-fluid ActiveOrderInfoDiv" id="YourOrdersDiv">
  {% include 'order/yourorders.html' %}
</div>

<br><br><br>

<header class="container-fluid text-center">
  <p>All Active Orders</p>
</header>

<!-- Dropdown Menu -->
<div class="container-fluid text-center">
  <div class="p-2">
    <label for="selectcompany">
      <p id="SelectCompanyLabel">Select Company:</p>
    </label>
    <form action="" method="GET">
      <select id="SelectDropDown" name="company_form" onchange="this.form.submit()">
        <option value="">...</option>
        {% for company in all_companies %}
        <option value="{{ company.Ticker }}">{{ company.Ticker }}</option>
        {% endfor %}
      </select>
      <!--<input type="submit" name="submit" value="Submit">-->
    </form>
  </div>
</div>

<br>

<!-- Asks/Bids Div -->
<div class="container-fluid text-center ActiveOrderInfoDiv" id="AllOrdersDiv">
  {% include 'order/allorders.html' %}
</div>
<br>
<br>

{% endblock body %}