{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Order Page{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'order/orderpage.css' %}" />
{% endblock %}

{% block body %}
<script src="{% static 'order/ajaxscript.js' %}"></script>
<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
<header class="container-fluid text-center">
  <p>Place Order</p>
  <!-- <script>
    function deleteOrder() {
      $(document).on('click', ':button', function () {
        $(this).parent().remove();
      });
    }
  </script> -->
</header>

<form method="POST" id="order_form"> {% csrf_token %}
  <!-- Inner Divs -->
  <div class="container text-center">
    <!--<div class="row content">-->
    <div class="d-flex flex-row align-content-between" id="InterDiv">
      <!-- Dropdown Div -->
      <div class="d-flex flex-column" id="InterLeft">
        <div class="p-2">
          <div class="dropdown">
            {{ form.Direction|as_crispy_field }}
          </div>
        </div>

        <div class="p-2">
          <div class="dropdown">
            {{ form.OrderBookName|as_crispy_field }}
          </div>
        </div>

        <div class="p-2" data-toggle="tooltip" title="Note: choosing limit means you set your maximum buy price or
        minimum sell price (recommended). Choosing market means you want to buy from the current
            lowest seller or want to sell to the current highest buyer.">
          <div class="dropdown">
            {{ form.Type|as_crispy_field }}
          </div>
        </div>
      </div>

      <!-- Textbox Div -->
      <div class="d-flex flex-column" id="InterRight">
        <div class="p-2" id="PriceTextBox">
          <div class="form-group">
            {{ form.Price|as_crispy_field }}
          </div>
        </div>
        <div class="p-2">
          <div class="form-group">
            {{ form.Quantity|as_crispy_field }}
          </div>
        </div>
      </div>
    </div>

  </div>

  <br>
  <!-- Place Order Button -->
  <button type="submit" class="btn btn-primary btn-lg btn-block" id="PlaceOrderButton">Place Order</button>

</form>

<br><br><br>

<!-- Active Order header -->
<header class="container-fluid text-center">
  <p>Your Active Orders</p>
</header>

<!-- when reading from database, you can probably go through a for loop and add multiple rows depending on the info -->
<div class="container-fluid ActiveOrderInfoDiv" id="YourOrdersDiv">
  {% include 'order/yourorders.html' %}
</div>

<br><br><br>

<header class="container-fluid text-center">
  <p>All Active Orders</p>
</header>

<!-- Dropdown Menu -->
<div id="CurrentOrders" class="container-fluid text-center">
  <div class="p-2">
    <label for="selectcompany">
      <p id="SelectCompanyLabel">Select Company:</p>
    </label>
    <form action="" method="GET">
      <select id="SelectDropDown" name="company_form" onchange="this.form.submit()">
        <option value="">...</option>
        {% for company in all_companies %}
        <option value="{{ company.Ticker }}">{{ company.Ticker }}</option>
        {% endfor %}
      </select>
      <!--<input type="submit" name="submit" value="Submit">-->
    </form>
  </div>
</div>

<br>

<!-- Asks/Bids Div -->
<div class="container-fluid text-center ActiveOrderInfoDiv" id="AllOrdersDiv">
  {% include 'order/allorders.html' %}
</div>
<br>
<br>

{% endblock body %}