{% extends 'order/base.html' %}

{% block title %}Order Page{% endblock %}

{% block body %}
    <!-- Place Order header -->
    <header class="container-fluid text-center">
      <p>Place Order</p>
    </header>

    {% block form %} {% endblock form %}





    <!-- Active Order header -->
    <header class="container-fluid text-center">
      <p>Your Active Orders</p>
    </header>

    <!-- when reading from database, you can proabably go through a for loop and add multiple rows depending on the info -->
    <div class="container-fluid" id="ActiveOrderInfoDiv">
        <div class="row">
              <div class="col">Company</div>
              <div class="col">Order Direction</div>
              <div class="col">Order Type</div>
              <div class="col">Price</div>
              <div class="col">Quantity</div>
        </div>
        {% block ActiveOrderInfo %}{% endblock %}
    </div>

    <!-- Current Orders Info header -->
    <header class="container-fluid text-center">
      <p>Current Orders Info</p>
    </header>

    <!-- Dropdown Menu -->
    <div class="container-fluid text-center">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select Company
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Option 1</a>
          <a class="dropdown-item" href="#">Option 2</a>
          <a class="dropdown-item" href="#">Option 3</a>
        </div>
      </div>
    </div>

    <br>

    <!-- Asks/Bids Div -->
    <div class="container-fluid text-center">
        <div class="d-flex flex-row align-content-between" id="AsksBidsDiv">
          <div class="d-flex flex-column" id="AsksDiv">Asks</div>
          <div class="d-flex flex-column" id="BidsDiv">Bids</div>
    </div>
    <br>
    <br>

{% endblock body %}
