{% extends 'order/base.html' %}
{% load crispy_forms_tags %}

{% block form %}
  <form action="" method="post"> {% csrf_token %}
    <!-- Inner Divs -->
    <div class="container-fluid text-center">
      <!--<div class="row content">-->
      <div class="d-flex flex-row align-content-between" id="InterDiv">

        <!-- Dropdown Div -->
        <div class="d-flex flex-column" id="InterLeft">
          <div class="p-2">
            <div class="dropdown">
              <!--<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Order Direction
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Option 1</a>
                <a class="dropdown-item" href="#">Option 2</a>
                <a class="dropdown-item" href="#">Option 3</a>
              </div>-->
              {{ form.Direction|as_crispy_field }}
            </div>
          </div>

          <div class="p-2">
            <div class="dropdown">
              <!--<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Company
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Option 1</a>
                <a class="dropdown-item" href="#">Option 2</a>
                <a class="dropdown-item" href="#">Option 3</a>
              </div>-->
              {{ form.OrderBookName|as_crispy_field }}
            </div>
          </div>

          <div class="p-2">
            <div class="dropdown">
              <!--<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Order Type
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Option 1</a>
                <a class="dropdown-item" href="#">Option 2</a>
                <a class="dropdown-item" href="#">Option 3</a>
              </div>-->
              {{ form.Type|as_crispy_field }}
            </div>
          </div>
        </div>

        <!-- Textbox Div -->
        <div class="d-flex flex-column"id="InterRight">
          <div class="p-2">
            <div class="form-group">
              <!--<label for="usr">Price:</label>
              <input type="text" class="form-control" id="usr">-->
              {{ form.Price|as_crispy_field }}
            </div>
          </div>
          <div class="p-2">
            <div class="form-group">
              <!--<label for="usr">Share Quantity:</label>
              <input type="text" class="form-control" id="usr">-->
              {{ form.Quantity|as_crispy_field }}
            </div>
          </div>
        </div>

      </div>

    </div>

    <br>

    <!-- Place Order Button -->
    <button type="submit" class="btn btn-primary btn-lg btn-block" id="PlaceOrderButton">Place Order</button>

  </form>
{% endblock form %}
