<div class="row text-light table-color">
    <div class="col headings">Company</div>
    <div class="col headings">Order Direction</div>
    <div class="col headings">Order Type</div>
    <div class="col headings">Price</div>
    <div class="col headings">Quantity</div>
    <div class="col headings">ID</div>
  </div>
  <br>
  {% for order in your_orders %}
  <div class="row">
    <div class="col">{{ order.OrderBookName }}</div>
    {% if order.Direction == "A" %}
      <div class="col">Buy</div>
    {% else %}
      <div class="col">Sell</div>
    {% endif %}

    <div class="col">{{ order.Type }}</div>

    {% if order.Price == 2147483647 or order.Price == 0 %}
      <div class="col"></div>
    {% else %}
      <div class="col">${{ order.Price }}.00</div>
    {% endif %}

    <div class="col">{{ order.Quantity }}</div>
    <div class="col">{{ order.OrderID }}</div>
    <form action="{% url 'order:cancel_order' pk=order.OrderID %}" id="cancel_button" method="POST">
      {% csrf_token %}
      <button type="submit" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </form>
  </div>
  {% endfor %}
